.contentPage {
  background-image: url(./img/background.svg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 95vh;
  width: 100%;
}

/* .contentPage {
  height: 100vh;
} */

@media (max-width: 800px) {
  .contentPage {
    background-image: url(./img/background-mobile.svg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 95vh;
    width: 100%;
  }
}
